@model int
@{
    ViewBag.Title = "Monitoramento da pulseira";
}

@section scripts {
    <script src=@Url.Content("~/Scripts/echarts/echarts.js")></script>
    <script src="@Url.Content("~/Scripts/util/graficos.js")"></script>
    <script src="@Url.Content("~/Scripts/Monitoramento/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Localizacao/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Pulseira/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Graficos/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="PulseiraDetailsChartsController" ng-init="carregar(@Model)">
    <div class="row mb-2">
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3 ng-bind="pulseira.NomeDoIdoso"></h3>
                            <dl class="row">
                                <dt class="col-lg-3">Imei</dt>
                                <dd class="col-lg-9" ng-bind="pulseira.Imei"></dd>

                                <dt class="col-lg-3">Telefone</dt>
                                <dd class="col-lg-9" ng-bind="pulseira.Telefone"></dd>
                            </dl>
                        </div>
                        <div class="col-lg-6">
                            <dl class="row">
                                <dt class="col-lg-3">Última Leitura</dt>
                                <dd class="col-lg-9" ng-bind="pulseira.DataDeAtualizacao | shortDateTimeString"></dd>

                                <dt class="col-lg-3">Bateria</dt>
                                <dd class="col-lg-9" ng-bind="pulseira.Bateria"></dd>

                                <dt class="col-lg-3">Sinal GSM</dt>
                                <dd class="col-lg-9" ng-bind="pulseira.SinalGsm"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Filtros-->
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Data Inicial</label>
                            <input type="date" class="form-control" ng-model="filtrosDeMonitoramento.DataInicial"
                                   ng-model-options="{ debounce: 1500 }" ng-change="listarMonitoramentoCharts ()"/>
                        </div>
                        <div class="col-sm-6">
                            <label>Data Final</label>
                            <div class="input-group">
                                <input type="date" class="form-control" ng-model="filtrosDeMonitoramento.DataFinal"
                                       ng-model-options="{ debounce: 1500 }" ng-change="listarMonitoramentoCharts ()"/>
                                @*<div class="input-group-btn">
                                    <button class="btn btn-dark">Atualizar</button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--graficos-->
        <!--graficoAll-->
        <div class="col-md-12 mb-2">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <div id="graficoAll" style="height: 450px"></div>
                        </div>
                    </div>
                </div>

                <!--graficoSistolica-->
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="graficoSistolica" style="height: 450px"></div>
                        </div>
                    </div>
                </div>

                <!--graficoDiastolica-->
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="graficoDiastolica" style="height: 450px"></div>
                        </div>
                    </div>
                </div>

                <!--graficoFrequenciaCardiaca-->
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="graficoFrequenciaCardiaca" style="height: 450px"></div>
                        </div>
                    </div>
                </div>

                <!--graficoSaturacao-->
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div id="graficoSaturacao" style="height: 450px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Voltar</a>
    </div>
</div>
