@model int
@{
    ViewBag.Title = "Cliente";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Usuario/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Cliente/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Pulseira/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Pulseira/directive.js")"></script>
    <script src="@Url.Content("~/Scripts/Cliente/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="ClienteController" ng-init="iniciar(@Model)">
    <form>
        <validation submit="salvar()"></validation>

        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" ng-model="cliente.Nome" maxlength="100" required-field/>
        </div>
        
        <div class="form-group">
            <label>Data de nascimento</label>
            <input type="text" class="form-control" ng-model="cliente.DataDeNascimento" ng-date required-field>
        </div>

        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" ng-model="cliente.Email"
                   ng-blur-valid="verificarDisponibilidadeDoEmail()"
                   ng-class="{true:'is-valid',false:'is-invalid'}[estaDisponivel]"
                   required-field maxlength="50"/>
            <boolean-validation is-valid="estaDisponivel">Esse e-mail não está disponível</boolean-validation>
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" ng-model="cliente.Senha" autocomplete="new-password" maxlength="200"/>
            @if (Model > 0)
            {
                <p>Caso não queira alterar a senha, deixe o campo em branco</p>
            }
        </div>

        <table class="table table-sm table-striped datatable mt-3">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Imei</th>
                <th>Telefone</th>
                <th>Data inicial</th>
                <th>Data final</th>
                <th class="datatable-buttons">
                    <button type="button" class="btn btn-success btn-sm" ng-click="abrirDialogDeIdoso()">
                        <span class="fa fa-plus"></span>
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cliente.Idosos">
                <td ng-bind="item.Nome" class="align-middle"></td>
                <td ng-bind="item.Pulseira.Imei" class="align-middle"></td>
                <td ng-bind="item.Pulseira.Telefone" class="align-middle"></td>
                <td ng-bind="item.DataInicial | shortDateString" class="align-middle"></td>
                <td ng-bind="item.DataFinal | shortDateString" class="align-middle"></td>
                <td class="datatable-buttons">
                    <button type="button" class="btn btn-info btn-sm" ng-click="editarIdoso(item)">
                        <span class="fa fa-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" ng-click="removerIdoso(item)">
                        <span class="fa fa-minus"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="form-group mt-2">
            <button class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-outline-secondary" ng-click="cancelar()">Voltar</button>
        </div>
    </form>

    <dialog is-open="aberta" static>
        <dialog-form>
            <validation submit="adicionarIdoso(idoso.Pulseira.Imei)"></validation>

            <dialog-title>
                Idoso
            </dialog-title>
            <dialog-body>

                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" class="form-control" ng-model="idoso.Nome" maxlength="200" required/>
                </div>
                
                <div class="form-group">
                    <label>Grau de parentesco</label>
                    <input type="text" class="form-control" ng-model="idoso.GrauDeParentesco" maxlength="200" required/>
                </div>

                <div class="form-group">
                    <label>Data de nascimento</label>
                    <input type="text" class="form-control" ng-model="idoso.DataDeNascimento" ng-date required-field/>
                </div>
                
                <div class="form-group">
                    <label>Data inicial de uso</label>
                    <input type="text" class="form-control" ng-model="idoso.DataInicial" ng-date required-field/>
                </div>

                <div class="form-group">
                    <label>Data final de uso</label>
                    <input type="text" class="form-control" ng-model="idoso.DataFinal" ng-date/>
                </div>

                <div class="form-group">
                    <label>Pulseira</label>
                    <dialog-pulseira ng-model="idoso.Pulseira"></dialog-pulseira>
                </div> 

            </dialog-body>
            <dialog-footer>
                <button class="btn btn-success" ng-bind="idosoEmEdicao ? 'Atualizar' : 'Adicionar'"></button>
                <button type="button" class="btn btn-outline-secondary" ng-click="fecharDialogDeIdoso()">Cancelar</button>
            </dialog-footer>

        </dialog-form>
    </dialog>
</div>