@{
    string appName = CuidarMe.Domain.Helpers.Constantes.NOME_SISTEMA;
    string versao = CuidarMe.Domain.Helpers.Constantes.VERSAO_SISTEMA;
}
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@appName, @versao</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico">
    @Styles.Render("~/Content/admin")
    <link href="@Url.Content("~/Content/jqueryscripttop.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Account/login.css")" rel="stylesheet" />
    @Scripts.Render("~/bundles/admin")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-captcha.min.js")"></script>
</head>
<body>
    <loading></loading>
    <div class="login-container">
        @RenderBody()        
    </div>   
</body>
</html>