@model int
@{
    ViewBag.Title = "Monitoramento da pulseira";
}

@section scripts {
    <script src=@Url.Content("~/Scripts/echarts/echarts.js")></script>
    <script src="@Url.Content("~/Scripts/Monitoramento/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Localizacao/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Pulseira/service.js")"></script>
    <script src="@Url.Content("~/Scripts/Pulseira/module.js")"></script>
}

<h2>@ViewBag.Title</h2>
<div ng-controller="PulseiraDetailsController" ng-init="carregar(@Model)">
    <div class="row mb-2">
        <div class="col-md-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 ng-bind="pulseira.NomeDoIdoso"></h3>
                            <dl class="row">
                                <dt class="col-sm-3">Imei</dt>
                                <dd class="col-sm-9" ng-bind="pulseira.Imei"></dd>

                                <dt class="col-sm-3">Telefone</dt>
                                <dd class="col-sm-9" ng-bind="pulseira.Telefone"></dd>
                            </dl>
                        </div>

                        <div class="col-sm-6">
                            <dl class="row">
                                <dt class="col-sm-3">Última Leitura</dt>
                                <dd class="col-sm-9" ng-bind="pulseira.DataDeAtualizacao | shortDateTimeString"></dd>

                                <dt class="col-sm-3">Bateria</dt>
                                <dd class="col-sm-9" ng-bind="pulseira.Bateria"></dd>

                                <dt class="col-sm-3">Sinal GSM</dt>
                                <dd class="col-sm-9" ng-bind="pulseira.SinalGsm"></dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title-header-card">Monitoramento da Frequência Cardíaca</h5>
                </div>
                <div class="card-body">
                    <div id="graficoFrequenciaCardiaca" style="height: 450px"></div>
                    <p class="card-text">
                        <a href="" class="btn btn-link" ng-click="historico(pulseira.Id)"><i class="fa fa-history" aria-hidden="true"></i> &nbsp;Histórico</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title-header-card">Monitoramento da Pressão</h5>
                </div>
                <div class="card-body">
                    <div id="graficoPressao" style="height: 450px"></div>
                    <p class="card-text">
                        <a href="" class="btn btn-link" ng-click="historico(pulseira.Id)"><i class="fa fa-history" aria-hidden="true"></i> &nbsp;Histórico</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title-header-card">Monitoramento da Oxigenação</h5>
                </div>
                <div class="card-body">
                    <div id="graficoOxigenacao" style="height: 450px"></div>
                    <p class="card-text">
                        <a href="" class="btn btn-link" ng-click="historico(pulseira.Id)"><i class="fa fa-history" aria-hidden="true"></i> &nbsp;Histórico</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-outline-secondary" href="@Url.Action("Index")">Voltar</a>
    </div>
</div>

<script type="text/javascript">
    var ROOT_PATH = '@Url.Content("~/Scripts/echarts/aqi-beijing.json")';

    var dom01 = document.getElementById('graficoFrequenciaCardiaca');
    var myChart01 = echarts.init(dom01, null, {
        renderer: 'canvas',
        useDirtyRect: false
    });
    $.get(ROOT_PATH, function (data) {
        myChart01.setOption(
            (option = {
                legend: {
                    data: ['Frequência Cardíaca']
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '1%',
                    right: '1%',
                    bottom: '10%'
                },
                xAxis: {
                    data: data.map(function (item) {
                        return item[0];
                    })
                },
                yAxis: {},
                toolbox: {
                    right: 10,
                    feature: {
                        saveAsImage: {}
                    }
                },
                dataZoom: [
                    {
                        start: 95,
                        end: 100
                    },
                    {
                        type: 'inside'
                    }
                ],
                series: {
                    name: 'Frequência Cardíaca',
                    type: 'line',
                    showSymbol: false,
                    smooth: true,
                    data: data.map(function (item) {
                        return item[1];
                    }),
                    color: '#800080',
                    markLine: {
                        silent: true,
                        lineStyle: {
                            color: '#333'
                        },
                        data: [
                            {
                                yAxis: 50
                            },
                            {
                                yAxis: 200
                            }
                        ]
                    }
                }
            })
        );
    });
    window.addEventListener('resize', myChart01.resize);

    //--------------------------------------------------------------------
    var dom02 = document.getElementById('graficoPressao');
    var myChart02 = echarts.init(dom02, null, {
        renderer: 'canvas',
        useDirtyRect: false
    });
    $.get(ROOT_PATH, function (data) {
        myChart02.setOption(
            (option = {
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['Sistórica', 'Diastórica']
                },
                grid: {
                    left: '1%',
                    right: '1%',
                    bottom: '10%'
                },
                xAxis: {
                    data: data.map(function (item) {
                        return item[0];
                    })
                },
                yAxis: {},
                toolbox: {
                    right: 10,
                    feature: {
                        saveAsImage: {}
                    }
                },
                dataZoom: [
                    {
                        start: 99,
                        end: 100
                    },
                    {
                        type: 'inside'
                    }
                ],
                series: [{
                    name: 'Sistórica',
                    type: 'line',
                    color: '#800080',
                    showSymbol: false,
                    smooth: true,
                    data: data.map(function (item) {
                        return item[1];
                    }),
                    markLine: {
                        silent: true,
                        lineStyle: {
                            color: '#333'
                        },
                        data: [
                            {
                                yAxis: 50
                            },
                            {
                                yAxis: 200
                            }
                        ]
                    }

                },
                {
                    name: 'Diastórica',
                    type: 'line',
                    color: '#BA55D3',
                    showSymbol: false,
                    smooth: true,
                    data: data.map(function (item) {
                        return item[1] * 2;
                    }),
                    markLine: {
                        silent: true,
                        lineStyle: {
                            color: '#333'
                        },
                        data: [
                            {
                                yAxis: 50
                            },
                            {
                                yAxis: 200
                            }
                        ]
                    }
                }
                ],
            })
        );
    });
    window.addEventListener('resize', myChart02.resize);

    //--------------------------------------------------------------------

    var dom03 = document.getElementById('graficoOxigenacao');
    var myChart03 = echarts.init(dom03, null, {
        renderer: 'canvas',
        useDirtyRect: false
    });

    $.get(ROOT_PATH, function (data) {
        myChart03.setOption(
            (option = {
                legend: {
                    data: ['Saturação']
                },
                tooltip: {
                    trigger: 'axis'
                },
                grid: {
                    left: '1%',
                    right: '1%',
                    bottom: '10%'
                },
                xAxis: {
                    data: data.map(function (item) {
                        return item[0];
                    })
                },
                yAxis: {},
                toolbox: {
                    right: 10,
                    feature: {
                        saveAsImage: {}
                    }
                },
                dataZoom: [
                    {
                        start: 95,
                        end: 100
                    },
                    {
                        type: 'inside'
                    }
                ],
                series: {
                    name: 'Saturação',
                    type: 'line',
                    color: '#800080',
                    showSymbol: false,
                    smooth: true,
                    data: data.map(function (item) {
                        return item[1];
                    }),
                    markLine: {
                        silent: true,
                        lineStyle: {
                            color: '#333'
                        },
                        data: [
                            {
                                yAxis: 50
                            },
                            {
                                yAxis: 200
                            }
                        ]
                    }
                }
            })
        );
    });
    window.addEventListener('resize', myChart03.resize);
</script>